# Database Configuration
# Options: mysql, postgres, sqlite
DB_TYPE=sqlite

# Common Settings (MySQL/Postgres)
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=your_database_name

# SQLite Settings
DB_PATH=database.sqlite

UNIFIE_API_URL =
UNIFIE_API_KEY =